<div class="flex justify-end mb-24 italic underline">
  <%= link_to "Edit Blog Post", edit_blog_post_path(@blog_post) if user_signed_in? %>
</div>

<h1><%=@blog_post.title%></h1> 
<hr />
<%= image_tag @blog_post.cover_image if @blog_post.cover_image.present?%>
 <%=@blog_post.content%>
